.post-main {
    background: url('../../assets/Postmep.jpeg')fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

.postcard {
    background-color: #a7719e
}

.prac {
    background-color: #ac7b53
}