.auth-nav {
    background-color: rgb(41, 61, 41);
    font-family: 'Faustina', serif;
    
}

.auth-main {
    background: url('../../assets/Mepsign.jpeg')repeat-x;
    background-size:cover;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;  
    font-family: 'Faustina', serif;
   
}

.auth-form {
    width: 60%;
    align-items: center;
    background-color: rgb(41, 61, 41);
    opacity: 85%;
    font-weight: bolder;
    align-items: center;
    
    color: rgb(224, 231, 224);
    font-family: 'Faustina', serif;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.footer {
    background-color: rgb(41, 61, 41);
}